:root {
    --bg: #292021;
    --hc-orange: #e64e00;
}
body {
    font-family: sans-serif;
}

body.homepage {
    background-image: url('assets/img/splash.webp');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 3em;
}

html {
    height: 100%;
}

.splash-text {
    writing-mode: vertical-lr;
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--hc-orange);
}

body.homepage .page-content {
    margin-top: 25%;
}

.navbar {
    background-color: var(--bg) !important;
    height: 4rem !important;
}

.navbar>.container-fluid {
    background-color: var(--bg) !important;
}

.footer {
    background-color: var(--bg);
    color: var(--hc-orange);
    bottom: 0;
    left: 0;
}

body.homepage .page-content {
    min-height: 0;
}

.page-content {
    transition-duration: 0.2s;
    min-height: calc(100% - 4rem);
}

@media screen and (max-aspect-ratio: 4/3) {
    body.homepage .page-content {
        margin-top: 25%;
    }
    form {
        width: 60%;
        margin: 10% 20% 10% 20%;
        padding: 6%;
        border-radius: 10%;
    }
    .form-label {
        font-size: 80%;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .splash-text {
        writing-mode: horizontal-tb;
        text-align: right;
        font-size: 1.2rem;
    }

    body.homepage .page-content {
        margin-top: 35%;
    }
    form {
        width: 60%;
        margin: 10% 20% 10% 20%;
        padding: 6%;
        border-radius: 10%;
    }
    .form-label {
        font-size: 10%;
    }
}

@media screen and (max-aspect-ratio: 9/14) {
    .splash-text {
        font-size: 1.2rem;
    }

    body.homepage .page-content {
        margin-top: 40%;
    }
    form {
        width: 70%;
        margin: 0% 15% 0% 15%;
        padding: 10% 10%;
        height: 10%;
        border-radius: 10%;
    }
    .form-label {
        font-size: 80%;
    }
}

@media screen and (max-aspect-ratio: 16/9) {
    .splash-text {
        font-size: 2rem;
    }

    body.homepage .page-content {
        margin-top: 20%;
    }
    form {
        width: 60%;
        margin: 10% 20% 10% 20%;
        padding: 6%;
        border-radius: 10%;
    }
    .form-label {
        font-size: 110%;
    }
}

@media screen and (max-aspect-ratio: 18/9) {
    body.homepage .page-content {
        margin-top: 27%;
    }
    form {
        width: 60%;
        margin: 10% 20% 10% 20%;
        padding: 6%;
        border-radius: 10%;
    }
    .form-label {
        font-size: 120%;
    }
}

@media screen and (max-aspect-ratio: 19/9) {
    body.homepage .page-content {
        margin-top: 30%;
    }
    form {
        width: 60%;
        margin: 10% 20% 10% 20%;
        padding: 6%;
        border-radius: 10%;
    }
    .form-label {
        font-size: 110%;
    }
}

@media screen and (min-aspect-ratio: 19/9) {
    body.homepage .page-content {
        margin-top: 30%;
    }
    form {
        width: 60%;
        margin: 10% 20% 10% 20%;
        padding: 6%;
        border-radius: 10%;
    }
    .form-label {
        font-size: 120%;
    }
}
.content{
    font-weight: 700;
    font-size: 400%;
    font-family: "Roboto";
}
div#first {
    float: right;
    margin-right: 10%;
}
div#second {
    float: right;
    margin-right: 8%;
}
button.btn.btn-dark {
    width: 22%;
    margin-left: 68%;
    /* border-bottom-left-radius: 14px; */
    border-radius: 14px;
    box-shadow: 10px 10px 5px #cec9c9;
}

