@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
    font-family: 'Roboto';
    --dark: #282021;
}

.text-orange {
    color: orange;
}

.navbar-toggler-icon {
    color: gainsboro !important;
}

body {
    color: rgba(0, 0, 0, 0.637);
    font-weight: 300;
  
    overflow-x: hidden;
}
.rocket {
    position: absolute;
    transform: rotate(10deg);
    display: block;
    margin: 0 auto;
    width: 10%;
    top: 5%;
    left: 45%;
    z-index: 2;
    
}
.rocket:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds /
    
    / When the animation is finished, start again */
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

strong {
    font-weight: 700;
}
 /* .section-0{
    background-color: #262120;
    width: 100%;
    height: 10%;

 } */

section {
    min-height: 90vh !important;
    display: flex !important;
    align-items: center;
    margin: 0 !important;
    padding: 2rem;
    justify-content: center;
}

section:first-of-type {
    min-height: calc(100vh - 4rem) !important;
}

.navbar {
    height: 4rem !important;
}

.navbar {
    background-color: var(--dark) !important;
    height: 4rem !important;
}

.navbar>.container-fluid {
    background-color: var(--dark) !important;
}

.nav-link {
    color: #eeeeee !important;
    font-weight: bold;
}



.section-image {
    max-width: 40%;
}

.section-text {
    width: 60%;

}

.section-image img {
    max-width: 80%;
    overflow-x: hidden;
    height: auto;
}

.large {
    color: black;
    font-size: 4.5rem;
    font-family: Roboto; 
    font-weight: 500; 
    text-shadow: -2.2px 2.2px #27212162;
}
.large1 {
    font-size: 3.5rem;
    font-family: roboto;
    text-align: right;
    margin-bottom: 40px;
    font-weight: 700;
}

.desc{
    font-family: Roboto;
    font-weight: 300; 
    font-size: 1.125rem;color: rgba(0, 0, 0, 0.637);
    line-height: 21.9px;
    margin-bottom: 20px;
}

.section-2 {
    width: 100vw;
    overflow-x: hidden;
    flex-direction: column;
    padding: 0;
}
.no-shadow{
    text-shadow: none;
}
/* #youll-never-code-alone {
    width: 100%;
    overflow-x: hidden;
    background-image: url('assets/img/binary.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: initial;
} */

.monospace {
    font-family: "Inconsolata", monospace;
    color: black;
    font-weight: 300;
    text-align: center;
}

/* .blob-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.blob {
    text-align: right;
    width: 40%;
    height: 50%;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 3rem;
    margin-right: 8rem;
    margin-top: 4rem;
} */
.col-3-img{
    background-color: white;
    margin-top: 2px solid black;
    margin-bottom: 2px solid black;

}
.row3{
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    background-image: url('assets/img/binary.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: initial;
}
.rect{
    margin: 5vh 40px;
    float: right;
    background-color: rgba(39, 33, 33, 0.87);
    height: max-content;
    width: 40vw;
    word-spacing: 0.5rem;
    text-align: right;
    border-radius: 3.125rem;
    padding: 2.5rem 0.1rem;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
    
}
/* .textlanding div h1 {
    float: right;
    color: #ffffff;
    writing-mode: vertical-rl; 
    line-height: 3mm;
    transform: translateY(50%);
} */
/*
.section-0  >div >p {
    font-size: 40px;
    color: #ffffff;
}
*/
.section-landing{
    /* background-color: #262120; */
height: 100bh;
width: 100%;

}
.section-landing .text-landing {
    float: right;
    color: #ffffff;
    writing-mode: vertical-rl; 
    /* line-height: 1mm; */
    transform: translateY(-250%);

    /* transform: translateX(550%);  */
    
    /* top: 90%;
    */
    /* position: relative; */
}
#hackclub-landing{
    font-size: 3em;
    font-weight: 700;
    
}
#vitchennai-landing{
    text-align: right;
    font-size: 1em;
    transform: translateX(145%);
} 
.backgroundlanding {
    /* position: absolute; */
    /* width: 85%;
    display: block;
    margin: 0 auto;
    -webkit-user-drag: none;
    top: 30%;
    left: 0%;
    z-index: -1; */
    /* margin-left: 20%; */
    background:  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 50% auto;
  width: 100%;
  height: 100bh;
  /* height: 50%; */
}
.rect-info{
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: max-content;
    width: max-content;;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
}

#commence-launch {
    background: var(--dark);
    color: white;
    text-align: right;
}

#commence-launch .large {
    font-size: 2rem;
    text-align: right;
    font-weight: bold;
}

#commence-launch .button:hover{
    background-color: #EF1212;
    color: white;
    transition-duration: 0.2s;
}

.large.button {
    margin-top: 3rem;
    /* min-width: 30%; */
    padding: 1rem;
    background: white;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
}

.footer {
    background: var(--dark) !important;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer-icons {
    width: 25%;
}

footer-links {
    width: 75%;
}

@media screen and (max-aspect-ratio: 1/1) {
    section {
        flex-direction: column !important;
    }
    section:first-of-type {
        margin-top: 40%;
    }
    .section-text {
        width: 100%;
    }
    .section-image {
        max-height: 100%;
        width: auto;
    }
    .blob {
        width: 99%;
        margin: 0;
        padding: 0.5rem;
        border-radius: 1rem;
    }
    .footer {
        flex-direction: column !important;
    }
    .footer-icons {
        width: 100%;
    }
    .footer-links {
        width: 100%;
        align-items: flex-start !important;
    }
}

textarea#contact-message {
    height: 15rem;
}

form.contact-us {
    background: rgb(41, 32, 33);
    color: white;
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.contact-us input[type='submit'].btn.btn-primary {
    color: black;
    background: white;
    padding: 1% 3%;
    margin-left: auto;
}

code {
    color: inherit;
}

footer ul.container {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: block;
    width: 100% !important;
    height: auto;
    left: 0px;
    background-color: #272121;
}

.container li {
    display: inline-block;
}

.col1 {
    width: 75%;
    margin: 0;
    padding: 0;
}

.container_f1 img {
    padding: 1em;
}

.container_f1 {
    font-family: roboto;
    font-weight: 900;
    color: #fff;
}

.container_f1 #hc {
    display: inline-block;
    padding: 0.5em;
    font-size: 46px;
    top: 0;
}

.socials ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socials li {
    display: inline-block;
    padding: 1.3em;
}

.links {
    display: inline-block;
    font-family: roboto;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.col2 {
    margin: 0em;
    padding: 0em;
}

.links .comm {
    padding: 0.1em;
}

.links .outro {
    font-size: 18px;
    font-weight: 300;
    padding-top: 0.5em;
}


.links a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .large{
        font-size: 3.5rem;
    }
    /* .row3 .col-3-img{
        overflow: hidden;
    } */

}

@media screen and (max-width: 720px) {
    .large{
        font-size: 3.5rem;
    }
    .rect{
        width: 90vw;
        margin: 0vw 5vw ;
        float: none;
        box-shadow: none;
        text-align: center;
    }
    .container_f1 img {
        padding: 0em;
        padding-left: 0.5em;
    }
    .container_f1 #hc {
        display: inline-block;
        padding: 0.35em;
        margin-bottom: 0.4em;
        font-size: 34px;
    }
    .socials li {
        display: inline-block;
        padding: 0.5em;
    }
    .col2 {
        padding: 0.5em;
        margin: 0.5em;
    }
    .large1 p
    {
        font-size: 2rem;
        text-align: center;
    }
    .col1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #commence-launch .button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #commence-launch .large{
        font-size: 1.2rem;
        text-align: right;
        font-weight: bold;
    }
    footer > ul.container {
        flex-direction: column-reverse;
    }

    .container_f1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer > ul.container > .col1 {
        width: 90%;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#EF1212,#BB1616);
    border-radius: 2px;
}

.margin-img{
    margin-top: 20px solid black;
    margin-bottom: 20px solid black;
}